@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input,
textarea,
select,
button {
  appearance: none;
  border: none;
  outline: none;
}

/* COLOR PALETTE */
:root {
  --azure: #0290ff;
  --black: #1e1e1e;
  --black-two: #121212;
  --medium-blue: #307bbe;
  --pale-grey: #f5f6fa;
  --pinkish-grey: #c7c7c7;
  --very-light-pink: #c4c4c4;
  --white: #fafafa;
  --white-two: #fff;
  --white-three: #e8e8e8;
  --grey: #888;
}

/* TEXT-STYLE */

/* Roboto Slab */
.text-style-1,
.text-style-4,
.text-style-5,
.text-style-7,
.text-style-8,
.text-style-11 {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
}

.text-style-1 {
  color: var(--white-two);
  font-size: 0.813rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
}

.text-style-4 {
  color: var(--black-two);
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
}

.text-style-5 {
  color: var(--black-two);
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
}

.text-style-7 {
  color: var(--grey);
  font-size: 0.813rem;
  font-weight: 300;
  text-transform: uppercase;
}

.text-style-8 {
  color: #4386bf;
  font-size: 0.875rem;
  font-weight: 300;
}

.text-style-11 {
  font-size: 0.813rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--white-two);
}

/* Montserrat and Courier New */
.text-style-2,
.text-style-3,
.text-style-6,
.text-style-9,
.text-style-10,
.text-style-12,
.text-style-13 {
  font-family: 'Montserrat', 'Courier New', Courier, monospace;
}

.text-style-2 {
  color: var(--grey);
  font-size: 0.875rem;
}

.text-style-3 {
  color: var(--azure);
  font-size: 1.875rem;
  font-weight: bold;
}

.text-style-6 {
  color: var(--black-two);
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  text-transform: uppercase;
}

.text-style-9 {
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--grey);
}

.text-style-10 {
  font-size: 2rem;
  color: var(--black-two);
}

.text-style-12 {
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: var(--grey);
  text-transform: uppercase;
}

.text-style-13 {
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: var(--very-light-pink);
}

/* LINES */

.x-line {
  width: 100%;
  height: 1px;
  border: solid 1px var(--white-three);
}

.y-line {
  width: 1px;
  height: 4.375rem;
  border: solid 1px var(--white-three);
}

.short-y-line {
  width: 1px;
  height: 1.5rem;
  border: solid 1px var(--white-three);
}

/* GENERAL BACKGROUND */
body {
  background-color: var(--white);
}